form {
    width: 50%;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 2px;
    box-sizing: border-box;
    background-color:white;
    color: black;
}

input textarea:focus {
    border: 5px solid black;
}

button {
    background-color: #84C7D0;
    color: black;
    padding: 14px 20px;
    margin-top: 8px;
    border-radius: 4px;
}

button:hover {
    background-color: #75DDDD;
}