header {
    padding: 20px 35px;
}

header h1 {
    display: inline;
}

nav {
    float: right;
    margin: 7px 0;
}

header, header h1, nav, nav ul, nav li, nav a {
    background-color: #84c7d0;

}

nav ul li {
    display: inline;
}

nav a {
    padding: 10px;
}